$primary-color: #967e76;
$primaryLight: #d7c0ae;
$primarySearch: #fff;

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	background-color: transparent;
	font-size: 2rem;
	outline: none;
	border: none;
	cursor: pointer;
}

.container {
	width: 90%;
	height: 4em;
	display: grid;
	margin: 2em auto;
	position: relative;
	place-content: center;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: "brand search navbar";
}

.brandContainer {
	height: 100%;
	display: flex;
	font-size: 32px;
	font-weight: 900;
	grid-area: "brand";
	align-items: center;
	color: $primary-color;
	text-transform: uppercase;
}

.searchContainer {
	height: 100%;
	display: flex;
	grid-area: "search";
	align-items: center;

	input[type="text"] {
		width: 100%;
		height: 70%;
		border: none;
		outline: none;
		display: block;
		padding: 2px 12px;
		border-radius: 4px;
		color: $primarySearch;
		background-color: #fff2;
	}
}

.navContainer {
	height: 100%;
	grid-area: "navbar";

	.navbar {
		gap: 2em;
		width: 100%;
		display: flex;
		height: inherit;
		align-items: center;
		justify-content: end;
	}
}

.menuOpen,
.menuClose {
	display: none;
}

@media screen and (max-width: 538px) {
	.menuOpen {
		height: 100%;
		display: flex;
		align-items: center;
	}
	.navContainer {
		top: -2em;
		width: 90%;
		right: -100%;
		z-index: 999;
		height: 100vh;
		position: absolute;
		background: $primaryLight;
		transition: all 150ms linear 0s;

		.navbar {
			flex-flow: column;
			justify-content: center;
		}

		.menuClose {
			display: block;
		}
	}

	.navContainer.true {
		right: -2em;
	}
}
