$primary-color: #967e76;
$primaryLight: #d7c0ae;

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	background-color: transparent;
	font-size: 2rem;
	outline: none;
	border: none;
	cursor: pointer;
}

.container {
	width: 88%;
	height: 4em;
	display: flex;
	padding: 0 1em;
	margin: 2em auto;
	position: relative;
}

.brandContainer {
	flex: 1;
	height: 100%;
	display: flex;
	font-size: 32px;
	font-weight: 900;
	align-items: center;
	color: $primary-color;
	text-transform: uppercase;
}

.navContainer {
	flex: 1;
	height: 100%;

	.navbar {
		gap: 2em;
		display: flex;
		height: inherit;
		align-items: center;
		justify-content: end;
	}
}

.menuOpen,
.menuClose {
	display: none;
}

@media screen and (max-width: 538px) {
	.menuOpen {
		height: 100%;
		display: flex;
		align-items: center;
	}
	.navContainer {
		top: -2em;
		width: 90%;
		right: -100%;
		z-index: 999;
		height: 100vh;
		position: absolute;
		background: $primaryLight;
		transition: all 150ms linear 0s;

		.navbar {
			flex-flow: column;
			justify-content: center;
		}

		.menuClose {
			display: block;
		}
	}

	.navContainer.true {
		right: -2em;
	}
}
