$primaryBtn: #967e76;
$white: #f9f9f9;

.button {
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	display: flex;
	color: $white;
	font-size: 3rem;
	cursor: pointer;
	padding-left: 2px;
	border-radius: 50%;
	align-items: center;
	background: $primaryBtn;
	justify-content: center;
}
