.card {
  width: 15rem;
  margin: 10px 10px;
  transition: box-shadow 0.3s;
}

.card-body .btn {
  padding: 0;
  width: 1.5em;
  outline: 0;
}

.btn-primary,
.btn-primary:hover {
  background: transparent;
  border: none;
}

.card-body Link {
  background: white !important;
  border: none;
  color: black !important;
  display: flex;
  transition: display 1s;
}

.play-btn {
  cursor: pointer;
  width: 103%;
}

.card:hover {
  box-shadow: 6px 6px 6px grey;
}
