$primaryCard: #b7c4cf;

.container {
	gap: 0.5em;
	width: 100%;
	padding: 1em;
	margin-bottom: 2em;
	display: flex;
	flex-flow: column;
	flex-basis: 180px;
	aspect-ratio: 9/13;
	position: relative;
	border-radius: 0.2em;
	background-color: $primaryCard;

	&:hover .btnContainer {
		opacity: 1;
		bottom: 20px;
	}
}

.image {
	width: inherit;
	background-color: $primaryCard;
	flex: 3;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.details {
	flex: 1;
	width: 100%;

	.title {
		font-weight: 600;
	}

	.artist {
		font-size: 13px;
	}
}

.btnContainer {
	bottom: 0;
	opacity: 0;
	right: 0px;
	width: 50px;
	height: fit-content;
	position: absolute;
	transition: all 250ms linear 0ms;

	div {
		width: fit-content;
		margin: 0 auto;
	}
}
