.container {
	width: 90%;
	margin: 0 auto;
	padding: 2em 0;
	padding-bottom: 8em;
	background-image: linear-gradient(to bottom, transparent, #000);
}

.empty {
	text-align: center;
}

.playlistContainer {
	gap: 2em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
