$primaryPlay: #141414;
$primaryLoop: #fff;
$primaryLoopActive: #085;

.container {
	bottom: 0;
	width: 100%;
	height: 5em;
	position: sticky;
	background-color: $primaryPlay;
	color: #fff;

	audio {
		width: 100%;
		background: #000;
	}

	.innerContainer {
		padding: 0 1em;
		display: flex;
		width: 100%;
		gap: 2em;

		div {
			display: flex;
			align-items: center;
		}
	}

	input[type="checkbox"] {
		cursor: pointer;
		visibility: hidden;

		&:checked ~ button {
			color: $primaryLoopActive;
		}
	}

	button {
		outline: none;
		border: none;
		cursor: pointer;
		font-size: 20px;
		color: $primaryLoop;
		background: transparent;
	}
}
